<%=  YAML::dump(@cart) %>
<% @cart.line_items.each do |item| %>

<% if line_item = @current_item %>
	<tr id="current_item">
<% else %>
	<tr>
<% end %>

		<td><%= item.quantity %>&times;</td>
		<td><%= item.product.title %></td>
		<td><%= number_to_currency(item.product.price) %></td>
		<% if params['controller'] != 'orders' %>
			<td><%= button_to '-', item, method: :delete, class: "btn btn-danger btn-mini remove_fields" %></td>
		<% end %>
	</tr>

<% end %>
